version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:8

jobs:
  deploy:
    <<: *defaults
    steps:
      - checkout
      
      - run:
          name: Install vsce
          command: yarn global add vsce
      
      - run:
          name: Publish extension
          command: vsce publish -p $VSCE_TOKEN

workflows:
  version: 2
  extension-deploy:
    jobs:
      - deploy:
          filters:
            # ignore any commit on any branch by default
            branches:
              ignore: /.*/
            # only act on version tags
            tags:
              only: /^v.*/
